In [1]:
import sys
print(sys.executable)

/Users/rahul/opt/anaconda3/bin/python

In [2]:
!/Users/rahul/opt/anaconda3/bin/python -m pip install wordcloud

Collecting wordcloud
  Downloading wordcloud-1.8.1.tar.gz (220 kB)
     |████████████████████████████████| 220 kB 3.0 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.6.1 in ./opt/anaconda3/lib/python3.7/site-packages (from wordcloud) (1.18.1)
Requirement already satisfied: pillow in ./opt/anaconda3/lib/python3.7/site-packages (from wordcloud) (7.0.0)
Requirement already satisfied: matplotlib in ./opt/anaconda3/lib/python3.7/site-packages (from wordcloud) (3.1.3)
Requirement already satisfied: kiwisolver>=1.0.1 in ./opt/anaconda3/lib/python3.7/site-packages (from matplotlib->wordcloud) (1.1.0)
Requirement already satisfied: cycler>=0.10 in ./opt/anaconda3/lib/python3.7/site-packages (from matplotlib->wordcloud) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in ./opt/anaconda3/lib/python3.7/site-packages (from matplotlib->wordcloud) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in ./opt/anaconda3/lib/python3.7/site-packages (from matplotlib->wordcloud) (2.4.6)
Requirement already satisfied: setuptools in ./opt/anaconda3/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib->wordcloud) (46.0.0.post20200309)
Requirement already satisfied: six in ./opt/anaconda3/lib/python3.7/site-packages (from cycler>=0.10->matplotlib->wordcloud) (1.14.0)
Building wheels for collected packages: wordcloud
  Building wheel for wordcloud (setup.py) ... done
  Created wheel for wordcloud: filename=wordcloud-1.8.1-cp37-cp37m-macosx_10_9_x86_64.whl size=160886 sha256=cc27b3797cc4158a24928eb6211c80901b51be0881f15c7b59f2c33410d3349f
  Stored in directory: /Users/rahul/Library/Caches/pip/wheels/f8/f6/55/6bd394c32a844a621ca0fe5dbf563c8d71d71edaf095656991
Successfully built wordcloud
Installing collected packages: wordcloud
Successfully installed wordcloud-1.8.1

In [3]:
import pandas as pd
import numpy as np   
import matplotlib.pyplot as plt  
import seaborn as sns 
from wordcloud import WordCloud

In [5]:
df = pd.read_csv("/Users/rahul/Desktop/indian_food.csv", na_values=['.','?','*','  '])
df

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region
0,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,West Bengal,East
1,Boondi,"Gram flour, ghee, sugar",vegetarian,80,30,sweet,dessert,Rajasthan,West
2,Gajar ka halwa,"Carrots, milk, sugar, ghee, cashews, raisins",vegetarian,15,60,sweet,dessert,Punjab,North
3,Ghevar,"Flour, ghee, kewra, milk, clarified butter, su...",vegetarian,15,30,sweet,dessert,Rajasthan,West
4,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,sweet,dessert,West Bengal,East
...,...,...,...,...,...,...,...,...,...
250,Til Pitha,"Glutinous rice, black sesame seeds, gur",vegetarian,5,30,sweet,dessert,Assam,North East
251,Bebinca,"Coconut milk, egg yolks, clarified butter, all...",vegetarian,20,60,sweet,dessert,Goa,West
252,Shufta,"Cottage cheese, dry dates, dried rose petals, ...",vegetarian,-1,-1,sweet,dessert,Jammu & Kashmir,North
253,Mawa Bati,"Milk powder, dry fruits, arrowroot powder, all...",vegetarian,20,45,sweet,dessert,Madhya Pradesh,Central
254,Pinaca,"Brown rice, fennel seeds, grated coconut, blac...",vegetarian,-1,-1,sweet,dessert,Goa,West

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            255 non-null    object
 1   ingredients     255 non-null    object
 2   diet            255 non-null    object
 3   prep_time       255 non-null    int64
 4   cook_time       255 non-null    int64
 5   flavor_profile  255 non-null    object
 6   course          255 non-null    object
 7   state           255 non-null    object
 8   region          254 non-null    object
dtypes: int64(2), object(7)
memory usage: 18.1+ KB

In [7]:
df.region.unique()

array(['East', 'West', 'North', '-1', 'North East', 'South', 'Central',
       nan], dtype=object)

In [8]:
df.flavor_profile.unique()

array(['sweet', 'spicy', 'bitter', '-1', 'sour'], dtype=object)

In [9]:
df.state.unique()

array(['West Bengal', 'Rajasthan', 'Punjab', 'Uttar Pradesh', '-1',
       'Odisha', 'Maharashtra', 'Uttarakhand', 'Assam', 'Bihar',
       'Andhra Pradesh', 'Karnataka', 'Telangana', 'Kerala', 'Tamil Nadu',
       'Gujarat', 'Tripura', 'Manipur', 'Nagaland', 'NCT of Delhi',
       'Jammu & Kashmir', 'Chhattisgarh', 'Haryana', 'Madhya Pradesh',
       'Goa'], dtype=object)

In [10]:
df.name.unique()

array(['Balu shahi', 'Boondi', 'Gajar ka halwa', 'Ghevar', 'Gulab jamun',
       'Imarti', 'Jalebi', 'Kaju katli', 'Kalakand', 'Kheer', 'Laddu',
       'Lassi', 'Nankhatai', 'Petha', 'Phirni', 'Rabri', 'Sheera',
       'Singori', 'Sohan halwa', 'Sohan papdi', 'Chhena jalebi',
       'Chhena kheeri', 'Chhena poda', 'Cham cham', 'Kheer sagar',
       'Ledikeni', 'Lyangcha', 'Malapua', 'Mihidana', 'Misti doi',
       'Pantua', 'Pithe', 'Rasabali', 'Ras malai', 'Rasgulla', 'Sandesh',
       'Adhirasam', 'Ariselu', 'Bandar laddu', 'Chikki', 'Dharwad pedha',
       'Double ka meetha', 'Gavvalu', 'Kakinada khaja', 'Kuzhi paniyaram',
       'Mysore pak', 'Obbattu holige', 'Palathalikalu', 'Poornalu',
       'Pongal', 'Pootharekulu', 'Qubani ka meetha', 'Sheer korma',
       'Unni Appam', 'Kajjikaya', 'Anarsa', 'Basundi', 'Dhondas',
       'Doodhpak', 'Mahim halwa', 'Modak', 'Shankarpali', 'Shrikhand',
       'Sutar feni', 'Maach Jhol', 'Pork Bharta', 'Chak Hao Kheer',
       'Galho', 'Aloo gobi', 'Aloo tikki', 'Aloo matar', 'Aloo methi',
       'Aloo shimla mirch', 'Bhatura', 'Bhindi masala', 'Biryani',
       'Butter chicken', 'Chana masala', 'Chapati', 'Chicken razala',
       'Chicken Tikka masala', 'Chicken Tikka', 'Chole bhature',
       'Daal baati churma', 'Daal puri', 'Dal makhani ', 'Dal tadka',
       'Dum aloo', 'Poha', 'Fara', 'Kachori', 'Kadai paneer',
       'Kadhi pakoda', 'Karela bharta', 'Khichdi', 'Kofta',
       'Kulfi falooda', 'Lauki ke kofte', 'Lauki ki subji',
       'Litti chokha', 'Makki di roti sarson da saag', 'Misi roti',
       'Mushroom do pyaza', 'Mushroom matar', 'Naan', 'Navrattan korma',
       'Palak paneer', 'Paneer butter masala', 'Paneer tikka masala',
       'Pani puri', 'Panjeeri', 'Papad', 'Paratha', 'Pattor',
       'Pindi chana', 'Rajma chaval', 'Rongi', 'Samosa', 'Sattu ki roti',
       'Shahi paneer', 'Shahi tukra', 'Vegetable jalfrezi',
       'Tandoori Chicken', 'Tandoori Fish Tikka', 'Attu', 'Avial',
       'Bisi bele bath', 'Currivepillai sadam ', 'Dosa', 'Idiappam',
       'Idli', 'Kanji', 'Kaara kozhambu', 'Keerai kootu',
       'Keerai masiyal', 'Keerai sadam', 'Keerai poriyal', 'Beef Fry',
       'Kootu', 'Kos kootu', 'Koshambri', 'Kothamali sadam',
       'Kuzhakkattai', 'Kuzhambu', 'Masala Dosa', 'Pachadi', 'Paniyaram',
       'Papadum', 'Paravannam', 'Payasam', 'Paruppu sadam', 'Pesarattu',
       'Poriyal', 'Puli sadam', 'Rasam', 'Puttu', 'Sambar', 'Sandige',
       'Sevai', 'Thayir sadam', 'Theeyal', 'Uttapam', 'Vada',
       'Chicken Varuval', 'Upma', 'Amti', 'Zunka', 'Kolim Jawla', 'Saath',
       'Bajri no rotlo', 'Coconut vadi', 'Bhakri', 'Bombil fry',
       'Chakali', 'Chevdo', 'Chorafali', 'Copra paak', 'Daal Dhokli',
       'Kutchi dabeli', 'Dahi vada', 'Dalithoy', 'Dhokla', 'Dudhi halwa',
       'Gatta curry', 'Gud papdi', 'Ghooghra', 'Handwo', 'Halvasan',
       'Jeera Aloo', 'Kansar', 'Keri no ras', 'Khakhra', 'Khandvi',
       'Kombdi vade', 'Laapsi', 'Koshimbir', 'Methi na Gota', 'Mohanthal',
       'Muthiya', 'Patra', 'Pav Bhaji', 'Puri Bhaji', 'Sabudana Khichadi',
       'Sev khamani', 'Sev tameta', 'Namakpara', 'Sukhdi', 'Surnoli',
       'Thalipeeth', 'Undhiyu', 'Veg Kolhapuri', 'Vindaloo',
       'Lilva Kachori', 'Mag Dhokli', 'Khichu', 'Thepla', 'Farsi Puri',
       'Khaman', 'Turiya Patra Vatana sabji', 'Churma Ladoo',
       'Cheera Doi', 'Gheela Pitha', 'Khar', 'Kumol Sawul', 'Luchi',
       'Alu Pitika', 'Masor tenga', 'Bengena Pitika', 'Bilahi Maas',
       'Black rice', 'Bora Sawul', 'Brown Rice', 'Chingri malai curry',
       'Goja', 'Hando Guri', 'Haq Maas', 'Chingri Bhape', 'Kabiraji',
       'Khorisa', 'Koldil Chicken', 'Konir Dom', 'Koldil Duck',
       'Masor Koni', 'Mishti Chholar Dal', 'Pakhala', 'Pani Pitha',
       'Payokh', 'Prawn malai curry', 'Red Rice', 'Shukto', 'Til Pitha',
       'Bebinca', 'Shufta', 'Mawa Bati', 'Pinaca'], dtype=object)

In [11]:
df.describe()

        prep_time   cook_time
count  255.000000  255.000000
mean    31.105882   34.529412
std     72.554409   48.265650
min     -1.000000   -1.000000
25%     10.000000   20.000000
50%     10.000000   30.000000
75%     20.000000   40.000000
max    500.000000  720.000000

In [12]:
df.corr()

           prep_time  cook_time
prep_time   1.000000   0.144113
cook_time   0.144113   1.000000

In [13]:
df.duplicated().sum()

0

In [14]:
df.isnull().sum()

name              0
ingredients       0
diet              0
prep_time         0
cook_time         0
flavor_profile    0
course            0
state             0
region            1
dtype: int64

In [15]:
df.dropna(inplace=True)

In [16]:
df.isnull().sum()

name              0
ingredients       0
diet              0
prep_time         0
cook_time         0
flavor_profile    0
course            0
state             0
region            0
dtype: int64

In [17]:
df.shape

(254, 9)

In [18]:
df=df[df['prep_time'] >= 1] 
df=df[df['cook_time'] >= 1] 
df=df[df['flavor_profile'] != '-1'] 
df=df[df['course'] != '-1'] 
df=df[df['state'] != '-1'] 
df=df[df['region'] != '-1'] 
df

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region
0,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,West Bengal,East
1,Boondi,"Gram flour, ghee, sugar",vegetarian,80,30,sweet,dessert,Rajasthan,West
2,Gajar ka halwa,"Carrots, milk, sugar, ghee, cashews, raisins",vegetarian,15,60,sweet,dessert,Punjab,North
3,Ghevar,"Flour, ghee, kewra, milk, clarified butter, su...",vegetarian,15,30,sweet,dessert,Rajasthan,West
4,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,sweet,dessert,West Bengal,East
...,...,...,...,...,...,...,...,...,...
247,Prawn malai curry,"Coconut milk, prawns, garlic, turmeric, sugar",non vegetarian,15,50,spicy,main course,West Bengal,East
249,Shukto,"Green beans, bitter gourd, ridge gourd, banana...",vegetarian,10,20,spicy,main course,West Bengal,East
250,Til Pitha,"Glutinous rice, black sesame seeds, gur",vegetarian,5,30,sweet,dessert,Assam,North East
251,Bebinca,"Coconut milk, egg yolks, clarified butter, all...",vegetarian,20,60,sweet,dessert,Goa,West
253,Mawa Bati,"Milk powder, dry fruits, arrowroot powder, all...",vegetarian,20,45,sweet,dessert,Madhya Pradesh,Central

In [20]:
!/Users/rahul/opt/anaconda3/bin/python -m pip install plotly

Collecting plotly
  Downloading plotly-4.14.1-py2.py3-none-any.whl (13.2 MB)
     |████████████████████████████████| 13.2 MB 3.5 MB/s eta 0:00:01
Collecting retrying>=1.3.3
  Downloading retrying-1.3.3.tar.gz (10 kB)
Requirement already satisfied: six in ./opt/anaconda3/lib/python3.7/site-packages (from plotly) (1.14.0)
Building wheels for collected packages: retrying
  Building wheel for retrying (setup.py) ... done
  Created wheel for retrying: filename=retrying-1.3.3-py3-none-any.whl size=11430 sha256=af0769129d7d8183c56f05161e610ed5af7fdeee99ee910452d1a60ce9cdfd3e
  Stored in directory: /Users/rahul/Library/Caches/pip/wheels/f9/8d/8d/f6af3f7f9eea3553bc2fe6d53e4b287dad18b06a861ac56ddf
Successfully built retrying
Installing collected packages: retrying, plotly
Successfully installed plotly-4.14.1 retrying-1.3.3

In [44]:
import plotly.graph_objects as go

In [49]:
fig = go.Figure()
fig.add_trace(go.Histogram(
    x = df['state'],
    marker_color='chocolate',
    opacity=1
))

fig.update_layout(
    title_text='STATE_DISTRIBUTION',
    xaxis_title_text='STATE',
    yaxis_title_text='COUNT', 
    bargap=0.05, 
    xaxis =  {'showgrid': False },
    yaxis = {'showgrid': False },
    width=600,
    height=600
)

fig.write_html('State Distribution.html', auto_open=True)

In [50]:
fig = go.Figure()
fig.add_trace(go.Histogram(
    x = df['diet'],
    marker_color='blue',
    opacity=1
))

fig.update_layout(
    title_text='DIET_DISTRIBUTION',
    xaxis_title_text='DIET',
    yaxis_title_text='COUNT', 
    bargap=0.8, 
    xaxis =  {'showgrid': False },
    yaxis = {'showgrid': False },
    width=600,
    height=600
)

fig.write_html('Diet_Distribution.html', auto_open=True)

In [51]:
fig = go.Figure()
fig.add_trace(go.Histogram(
    x = df['flavor_profile'],
    marker_color='firebrick',
    opacity=1
))

fig.update_layout(
    title_text='FLAVOR_DISTRIBUTION',
    xaxis_title_text='flavor_profile',
    yaxis_title_text='COUNT', 
    bargap=0.8,
    xaxis =  {'showgrid': False },
    yaxis = {'showgrid': False }
    ,
    width=600,
    height=600
)

fig.write_html('Flavour_Distribution.html', auto_open=True)

In [52]:
fig = go.Figure()
fig.add_trace(go.Histogram(
    x = df['region'],
    marker_color='gold',
    opacity=1
))

fig.update_layout(
    title_text='REGION_DISTRIBUTION',
    xaxis_title_text='REGION',
    yaxis_title_text='COUNT', 
    bargap=0.8, 
    xaxis =  {'showgrid': False },
    yaxis = {'showgrid': False },
    width=600,
    height=600
)

fig.write_html('Region_Distribution.html', auto_open=True)

In [55]:
import plotly.express as px
fig = px.line(df, x="diet", y="flavor_profile", title='Flavour_profile v/s Diet',
    width=600,
    height=600)
fig.write_html('Floavour_profile_vs_Diet.html', auto_open=True)

In [57]:
fig = px.line(df, x="diet", y="course", title='Course v/s Diet',
    width=600,
    height=600)
fig.write_html('Course_vs_Diet.html', auto_open=True)

In [58]:
fig = px.scatter(df, x="flavor_profile", y="diet" ,color='diet',title="Flavour V/S Diet",
    width=600,
    height=600)
fig.write_html('Floavourvs_Diet_Scatter.html', auto_open=True)

In [60]:
fig = px.scatter(df, x="name", y="state" ,color='state',title="State V/S Name",
    width=600,
    height=600)
fig.write_html('State_vs_Name_Scatter.html', auto_open=True)()

TypeError: 'NoneType' object is not callable

In [61]:
fig = px.scatter(df, x="name", y="region" ,color='region',title="Region V/S Name",
    width=600,
    height=600)
fig.write_html('Region_vs_Name_Scatter.html', auto_open=True)()

TypeError: 'NoneType' object is not callable

In [62]:
fig = px.scatter(df, x="name", y="flavor_profile" ,color='flavor_profile',title="Flavour V/S Name",
    width=600,
    height=600)
fig.write_html('Flavour_vs_Name_Scatter.html', auto_open=True)()

TypeError: 'NoneType' object is not callable

In [63]:
fig = px.scatter(df, x="name", y="diet" ,color='diet',title="Diet V/S Name",
    width=600,
    height=600)
fig.write_html('Diet_vs_Name_Scatter.html', auto_open=True)()

TypeError: 'NoneType' object is not callable

In [64]:
pie_df = df.diet.value_counts().reset_index()
pie_df.columns = ['diet','count']
fig = px.pie(pie_df, values='count', names='diet', title='Proportion of Vegetarian and Non-Vegetarian dishes',
             color_discrete_sequence=['green', 'red'],
    width=500,
    height=500)
fig.write_html('Piechart.html', auto_open=True)()

TypeError: 'NoneType' object is not callable